


@font-face {
  font-family: "Young-serif";
  src: url(https://fonts.google.com/specimen/Young+Serif);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Young-serif", sans-serif;
  background-color: #f3e5d8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 20px;
}
.recipe-container {
  background-color: #fff;
  max-width: 800px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}
h1 {
  font-size: 2.5em;
  color: #2d2927;
  text-align: center;
  margin-bottom: 15px;
}
p {
  font-size: 1em;
  line-height: 1.6;
  color: #636b65;
  text-align: center;
  margin-bottom: 20px;
}
.recipe-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
h2 {
  color: #7d2e4d;
  margin-bottom: 15px;
  font-size: 1.75em;
}
.preparation-section {
  background-color: #f7eadf;
  padding: 15px;
  border-radius: 10px;
  line-height: 1.6;
  margin-bottom: 25px;
}
.preparation-section p {
  color: #7d2e4d;
  font-weight: bold;
}
.ingredients, .instructions, .nutrition-section {
  margin-bottom: 30px;
}
.instructions ol {
  padding-left: 20px;
  margin-bottom: 20px;
}
.instructions li {
  font-size: 1em;
  margin-bottom: 10px;
  color: #444;
}
.instructions li strong {
  color: #4b2e2e;
}
.nutrition-section {
  background-color: #f7eadf;
  padding: 20px;
  border-radius: 15px;
}
.nutrition-title {
  color: #7d2e4d;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.nutrition-description {
  color: #7f7f7f;
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
}
.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}
.nutrition-table td {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  color: #636b65;
  text-align: center;
}
.nutrition-value {
  font-weight: bold;
  color: #874d34;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

